@using PagedList.Mvc
@model PagedList.IPagedList<MangaWorld_admin.Models.Chapter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ChapterTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Manga.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ChapterOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ScanTeam.TeamName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChapterTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manga.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChapterOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScanTeam.TeamName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MangaId, chapOrder = item.ChapterOrder }) |
            @Html.ActionLink("Details", "Details", new { id = item.MangaId, chapOrder = item.ChapterOrder }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MangaId, chapOrder = item.ChapterOrder })
        </td>
    </tr>
}

</table>
<div class="pagination" style="margin-left: 400px">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<p>
    @if (ViewBag.NoBack == null)
    {
        <a href="@Url.Action("Details", "Mangas", new { id = Model.ToList().ElementAt(0).MangaId })">Back</a>
    }
</p>