@model MangaWorld_admin.Models.Manga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.AuthorName)
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            @ViewBag.Rating
        </dd>

        <dt>
            Language
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.LanguageName)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status1.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleasedYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleasedYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

        <dt>
            <a href="@Url.Action("Index", "Chapters", new { id = Model.MangaId })">List chapters</a><br/>
            <a href="@Url.Action("Index", "Comments", new { id = Model.MangaId })">See all comments (@ViewBag.comment)</a><br/>
            <p style="margin-top: 10px">
                @Html.ActionLink("Edit", "Edit", new { id = Model.MangaId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </dt>
        
    </dl>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>